.white-box {
    background-color: white;
    color: black;
    <!--other positioning attributes-->
}

.grey-box {
    background-color: grey;
    color: black;
    bottom:0px;
    height: 500px;
    <!--other positioning attributes-->
}

#demoFont {
font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 50px;
letter-spacing: 2px;
word-spacing: 2px;
color: #000000;
font-weight: 700;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: small-caps;
text-transform: none;
}

.bubble
{
   position: absolute;
   top: 300px;
   left:50px;
   width: 500px;
   height: 250px;
   padding: 0px;
   background: #62eeb1;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
    border: #c1bfbf solid 3px;
}

.bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 20px 0 20px 30px;
    border-color: transparent #62eeb1;
    display: block;
    width: 0;
    z-index: 1;
    right: -30px;
    top: 188px;
}

.bubble:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 22px 0 22px 32px;
    border-color: transparent #c1bfbf;
    display: block;
    width: 0;
    z-index: 0;
    right: -35px;
    top: 186px;
}
