#lbcontainer {
  width: 276px;
  height: auto;
  border-right: 2px solid #000000;
  border-left: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

#lbcontainer #title {
  width: 276px;
  height: 50px;
  background: #000000;
}

#lbcontainer #header {
  width: 276px;
  height: 40px;
  position: relative;
  background: #1ed661;
}

#lbcontainer .row {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #d2d0d0;
}

#lbcontainer .row .rank {
  position: relative;
  display: inline-block;
  width: 27%;
  line-height: 40px;
  left: 27px;
  font-family: "MuseoModerno";
  font-size: 15px;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

#lbcontainer .row .name {
  position: relative;
  display: inline-block;
  width: 48%;
  line-height: 40px;
  font-family: "Orbitron";
  font-size: 15px;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

#lbcontainer .row .score {
  position: relative;
  display: inline-block;
  width: 25%;
  font-family: "Orbitron";
  font-size: 15px;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 40px;
}

#lbcontainer .row:nth-child(3) {
  background: #ffffff;
}

#lbcontainer .row:nth-child(4) {
  background: #f2f2f2;
}

#lbcontainer .row:nth-child(5) {
  background: #ffffff;
}

#lbcontainer .row:nth-child(6) {
  background: #f2f2f2;
}

#lbcontainer .row:nth-child(7) {
  background: #ffffff;
  border-bottom: 0px solid #000000;
}

#lbcontainer #title #titleFont {
  font-family: Helvetica, Arial, Sans, sans-serif;
  font-weight: bold;
  font-size: 20px;
  word-spacing: 2px;
  color: #ffffff;
  position: relative;
  top: 28%;
  left: 3%;
}

#lbcontainer #header #headerFont {
  position: relative;
  display: inline-block;
  line-height: 40px;
  font-family: "Orbitron";
  font-size: 17px;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
